<<<<<<< HEAD
body {
	background: #CCCCCC;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

em strong {
	color: green;
=======
body {
	background: #CCCCCC
}

p {
	text-align: center;
}

em strong {
	color: red;
>>>>>>> ef50ef14459757eb3cf7afe5ee782dff66383cfa
}